@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital@0;1&family=Inter:wght@100;200&family=Lobster&family=Montserrat:wght@700&family=Poppins:wght@400;500;600&family=Roboto:wght@100;300&family=Rubik:ital@1&family=Source+Code+Pro:wght@300&family=Teko&display=swap');

*{
    /* font-family: 'Montserrat', sans-serif;    */
    /* font-weight: 500; */
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-image: url('https://d33wubrfki0l68.cloudfront.net/b48d3f70dffd76bf3152ad04e2cbb1261ef589c9/header.1af6756a.png');
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir el encabezado */
    background-attachment: fixed; /* Fija la imagen de fondo */

    min-height: 700px;
    padding: 2rem;
}

/* buttoncito */
.new-devtools{ 
    background-color: red;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat',sans-serif;
    padding: 3px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1380px;
    margin-inline: auto;
    font-family: 'Montserrat', sans-serif;   
}

.img-navbar{
    max-width: 70px;
    background-size: cover;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}

.hero-section{
    max-width: 1090px;
    margin-inline: auto;
    color: white;
    padding-top: 140px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title{
    font-size: 55px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300 !important;
}

.text-hero{
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700 !important;
    line-height: 30px;
    text-align: left;
    max-width: 600px;
}

.buttons-container{
    display: flex;
    gap: 48px;
}

.button{
    border-radius: 20px;
    background-color: #ea2845;
    border: 2px solid #ea2845; 
    padding: 10px 20px;
    color: white;
    font-family: sans-serif;
    min-width: 230px;
    max-width: 240px;
    height: 50px;
}

.button-secondary{
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white; 
    padding: 10px 20px;
    color: white;
    font-family: sans-serif;
    min-width: 230px;
    max-width: 240px;
    height: 50px;
}

.button:hover{
    background-color: transparent !important;
}

.button-secondary:hover{
    color:#ea2845;
    border: 2px solid #ea2845; 

}


.text-button{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.advantages-section{
    max-width: 1280px;
    margin-inline: auto;
    padding: 100px 0px;
}

.adventages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.img-item{
    width: 70px;
    /* height: 50px; */
    margin-inline: auto;
}

.item-title{
    color: #ea2845;
    font-size: 18px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.item-text{
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat,sans-serif;

}

.open-source-section{
    background-color: #ea2845;
}

.open-structure{
    max-width: 1280px;
    margin-inline: auto;
}